html {
    font: 1.2em "Fira Sans", serif;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    }

h3 {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  background-color: grey;
  }

span {font-weight: bold;}

a {font-style: italic;}

ul {
  list-style: none;
  }

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
  width: 300px;
  }

.About Koalas {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 2px 4px #d6d6c2;
  }

.Informations {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 2px 4px #d6d6c2;
  }
